ul {
    display: flex;
    width: 1200px;
    background-color: #efefef;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 5px;
}

li {
    list-style: none;
    text-align: center;
    flex: 1 1 30%;
    margin: 5px;
    position: relative;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.movie-title {
    color: white;
    position: absolute;
    inset: 0;
    padding-top: 6em;
    margin: 0;
}

.movie-title:hover {
    background: rgba(17, 17, 17, 0.7);
}