ul {
    display: flex;
    width: 1200px;
    background-color: #efefef;
    flex-wrap: wrap;
    align-content: space-around;
}

li {
    list-style: none;
    flex-wrap: wrap;
    flex-basis: 20%;
    width: 10%;
}

img {
    width: 300px;
}