* {
    box-sizing: border-box;
}

body {
    width: 1200px;
    padding: 0;
    margin: 0;
    background-color: #e9e581;
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    background-color: black;
    color: white;
    padding: 40px;
    width:100%;
    font-size: 15px;
}

.container section {
    padding: 10px 40px 20px 40px;
    display: flex;
    gap: 30px;
    text-align: justify;
}

article > img {
    width: 100%;
}

.fw {
    width: 1120px;
    max-width: 100%;
    display: block;
    margin: 10px 40px 20px 40px;
    border-radius: 40px 0 40px 0;
}

footer {
    background-color: black;
    color: white;
    padding: 1em 7em 1em 1em;
    text-align: end;    
}

footer img {
    width: 5%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}