ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: small;
    display: flex;
    flex-direction: row;
    background-color: black;
    flex-grow: 0 1 auto;
    width: 100%;
}

li {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

a {
    color: white;
    background-color: black;
    text-decoration: none;
    display: flex;
    padding: 15px;
    height: 1em;
}

a:hover {
    color: black;
    background-color: white;
}